<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T4RequestLocate</key>
	<dict>
		<key>client</key>
		<string>T4LocateClient</string>
		<key>path</key>
		<string>v2/lbs</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>locate</string>
	</dict>
	<key>T4RequestLocalToCity</key>
	<dict>
		<key>client</key>
		<string>T4LocateClient</string>
		<key>path</key>
		<string>v2/lbs</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>locate2city</string>
	</dict>
	<key>T4RequestUserRegister</key>
	<dict>
		<key>client</key>
		<string>T4UserClient</string>
		<key>path</key>
		<string>v2/user</string>
		<key>response</key>
		<string>T4ResponseUserInfo</string>
		<key>act</key>
		<string>register</string>
	</dict>
	<key>T4RequestUserLogin</key>
	<dict>
		<key>client</key>
		<string>T4UserClient</string>
		<key>path</key>
		<string>v2/user</string>
		<key>response</key>
		<string>T4ResponseUserInfo</string>
		<key>act</key>
		<string>login</string>
	</dict>
	<key>T4RequestGetActivedCode</key>
	<dict>
		<key>client</key>
		<string>T4UserClient</string>
		<key>path</key>
		<string>v2/user</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>sendActivedCode</string>
	</dict>
	<key>T4RequestCheckActivedCode</key>
	<dict>
		<key>client</key>
		<string>T4UserClient</string>
		<key>path</key>
		<string>v2/user</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>checkActivedCode</string>
	</dict>
	<key>T4RequestCheckPhone</key>
	<dict>
		<key>client</key>
		<string>T4UserClient</string>
		<key>path</key>
		<string>v2/user</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>checkPhone</string>
	</dict>
	<key>T4RequestListPois</key>
	<dict>
		<key>client</key>
		<string>T4LocateClient</string>
		<key>path</key>
		<string>v2/lbs</string>
		<key>response</key>
		<string>T4ResponsePoi</string>
		<key>act</key>
		<string>listPois</string>
	</dict>
	<key>T4RequestTrackAdd</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/addFootprint.jsp</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>addFootprint</string>
	</dict>
	<key>T4RequestTrackLike</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/addFootprint.jsp</string>
		<key>response</key>
		<string>NSString</string>
		<key>act</key>
		<string>addFpFavorite</string>
	</dict>
	<key>T4RequestTrackLikeList</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrackLike</string>
		<key>act</key>
		<string>listFpFavorite</string>
	</dict>
	<key>T4RequestTrackList</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>listFootprint</string>
	</dict>
	<key>T4RequestTrackGet</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>getFootprint</string>
	</dict>
	<key>T4RequestTrackDelete</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>deleteFootprint</string>
	</dict>
	<key>T4RequestCommentAdd</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>addFpCommentact</string>
	</dict>
	<key>T4RequestCommentList</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseComment</string>
		<key>act</key>
		<string>listFpComment</string>
	</dict>
	<key>T4RequestCommentDelete</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>deleteFpComment</string>
	</dict>
	<key>T4RequestCommentLike</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>addFpFavorite</string>
	</dict>
	<key>T4RequestCommentUnlike</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>changeFpFavorite</string>
	</dict>
	<key>T4RequestCommentLikeList</key>
	<dict>
		<key>client</key>
		<string>T4TrackClient</string>
		<key>path</key>
		<string>v2/footprint</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>listFpFavorite</string>
	</dict>
	<key>T4RequestForumPosts</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>listPosts</string>
	</dict>
	<key>T4RequestForumCategories</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseForumCategory</string>
		<key>act</key>
		<string>listCategory</string>
	</dict>
	<key>T4RequestForumSearch</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>searchPosts</string>
	</dict>
	<key>T4RequestForumDetail</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>getForumDetail</string>
	</dict>
	<key>T4RequestForumUpdateCount</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>updateForumBrowse</string>
	</dict>
	<key>T4RequestForumDelete</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>updateForumDetail</string>
	</dict>
	<key>T4RequestForumEdit</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>editForumDetail</string>
	</dict>
	<key>T4RequestForumGetMy</key>
	<dict>
		<key>client</key>
		<string>T4ForumClient</string>
		<key>path</key>
		<string>v2/forum</string>
		<key>response</key>
		<string>T4ResponseTrack</string>
		<key>act</key>
		<string>getMyForumComment</string>
	</dict>
	<key>T4RequestHome</key>
	<dict>
		<key>client</key>
		<string>T4SystemClient</string>
		<key>path</key>
		<string>v2/sys</string>
		<key>response</key>
		<string>T4ResponseHome</string>
		<key>act</key>
		<string>home</string>
	</dict>
</dict>
</plist>
